<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Conductores</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<a th:href="@{/logout}" type="button"
		class="btn btn-primary" ><i>Logout</i></a>
	<div th:switch="${search}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<div >
					<h2 class="my-5">Conductores</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Cedula</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Fecha Nacimineto</th>
								<th>Fecha Contratacion</th>
								<th>More Info</th>
								<th sec:authorize="hasRole('admin')">Edit</th>
								<th sec:authorize="hasRole('admin')">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="conductor : ${conductores}">
								<td class="text-info" th:text="${conductor.cedula}"></td>
								<td class="text-info" th:text="${conductor.nombre}"></td>
								<td class="text-info" th:text="${conductor.apellidos}"></td>
								<td class="text-info" th:text="${conductor.fechaNacimiento}"></td>
								<td class="text-info" th:text="${conductor.fechaContratacion}"></td>
								<td><a th:href="@{/app/search/driver/{id}(id=${conductor.cedula})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
									<td sec:authorize="hasRole('admin')"><a th:href="@{/admin/update/driver/{id}(id=${conductor.cedula})}"
									class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
								<td sec:authorize="hasRole('admin')"><a th:href="@{/admin/del/driver/{id}(id=${conductor.cedula})}"
									class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<p class="my-5" sec:authorize="hasRole('admin')">
					<a href="/admin/add/driver" class="btn btn-primary"><i
						class="fas fa-user-plus ml-2"></i></a>
				</p>
				
			</div>
		</div>
		<a href="/"><i class="fas fa-home ml-2"></i> Go back to main</a>
	</div>
</body>
</html>